
.listname{
display: flex;
flex-direction: column;
justify-content: center;
gap: 10px;
align-items: flex-start;
padding: 0;

}
.listitem{
    display: flex;
    gap: 20px;
    
    

}
.btn{

width: 70px;
border: 2px solid yellow;
color: yellow;
background-color: rgb(0, 102, 255); 
border-radius: 6px;
margin-left: auto;
margin-right: 0px;
cursor: pointer;
}

.btn:hover {
    color: blue;
    background-color: yellow;
    border: 1px solid rgb(0, 102, 255);
}